darwin-tol-copyright-boris-kulikov-2007.jpg 
correlation.mov 
no-correlation.mov 
canis-lupus.jpg 
canis-simensis.jpg 
thylacinus.jpg 
gire-et-al-2014-ebola-fig2.jpg 
gire-et-al-2014-ebola-fig3.jpg 
ichthyosaur-nobu-tamura-cc-by-25.jpg 
dolphin-noaa-cc-by-sa-30.jpg 
xkcd-cartoon.png 
